name: Ruff

on:
  push:
    branches: [ main ]
    paths: [ "**.py", ".github/workflows/ruff.yml", 'pyproject.toml' ]
  pull_request:
    branches: [ main ]
    paths: [ "**.py", ".github/workflows/ruff.yml", 'pyproject.toml' ]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
